* {
  margin: 0px;
  padding: 0px;
}
/* 
body {
  height: 12000px;
} */


.container-fluid {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.nav-parent a p {
  margin-bottom: 0px;
  font-size: 20px;
  color: black;
  font-family: 'Merriweather', serif;
}

.nav-parent a {
  text-decoration: none;
  color: black;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.navigation ul li {
  padding-right: 24px;
}

/* homeheader  */

.backHeader {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: contain;
  font-weight: 600;
  font-family: 'Merriweather', serif;
}

.formClass {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 118px;
  bottom: 16px;
  min-height: 55px;
  background-color: white;
  min-width: 79%;
  padding: 24px 0px;
  border: 1px solid gray;
  border-radius: 22px;
  box-shadow: 7px 14px 39px -4px rgba(87, 87, 87, 0.79);
}

.form-control {
  font-family: 'Roboto', sans-serif;
  min-height: 60px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  min-height: 60px;
  background-color: #bb0a0a;
  color: #fff;
}

/* main-container  */

.main-container {
  margin-bottom: 16px;
  box-shadow: 5px 9px 14px -6px rgb(111 104 106 / 19%);
  padding: 15px;
}

.main-container-content {
  padding-left: 30px;
}

.img-thumbnail {
  height: 188px;
}

.box-center-image {
  position: relative;
  top: 120px;
  height: 81px;
  width: 18%;
  /* position: absolute;
  display: inline;
  background-color: red;
  top: 836px;
  bottom: -258px;
  left: 316px; */
}

/* .box-center-image img{
  height: 84px;
} */

.main-container-content .heading {
  color: darkslateblue;
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
}

.dreamTxt {
  color: #ffbc13 !important;
}

.main-container-content .paragraph {
  text-align: justify;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #581b1b;

}

.aboutList li {
  padding-bottom: 10px;
}

.aboutList li span {
  font-weight: 500;
  font-size: 14px;
  color: gray;
}

.exploreBtn {
  padding: 10px 20px;
  outline: none;
  border: 1px solid rgb(255, 166, 0);
  color: black;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(255, 166, 0);
  transition: all 460ms;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
}

.exploreBtn:hover {
  transform: translateY(-3px);
}

/* global image container */

.services-container {
  background-image: url("../images/bg-map-1.png");
  background-size: contain;
  padding: 80px 0px;
}

.services-container .services-heading {
  color: rgb(12, 12, 92);
  font-family: 'Roboto', sans-serif;
}

.services-container .services-paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: black;
}

.servicesTxt {
  color: orange;
  font-family: 'Roboto', sans-serif;
}

.box-1 {
  min-height: 291px;
  /* background-color: rgb(153 153 153); */
  background-image: linear-gradient(to bottom, #414129, #00020C);
  padding: 28px;
  text-align: justify;
  border-radius: 5px;
  min-width: 102%;
  border: 2px solid black;
  opacity: 0.8;
}

.box-1 .icon-logo {
  height: 75px;
  border-radius: 50%;
  /* background-color: red; */
  padding: 5px;
}

.box-1 .arrow-icon {
  transition: all 490ms;
  cursor: pointer;
  padding-right: 10px;
  height: 30px;
  border-radius: 5%;
}

.box-1 .arrow-icon:hover {
  cursor: pointer;
  transform: translateX(3px);
}

.box-1 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 23px;
  /* color: #000; */
  color: #fff;
}

.box-1 span {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #fff;
  padding-bottom: 8px;
  text-align: justify;
  font-size: 15px;
}


/* Projects  */

.projects-container {
  padding: 90px 0px 50px 0px;
  background-image: url("../images/proje-bg.png");
  background-size: contain;
  margin-top: 26px;
  opacity: 1;
}

.projects-heading {
  color: rgb(12, 12, 92);
  font-family: 'Roboto', sans-serif;
}

.project-img-box img {
  height: 250px;
  width: 100%;
  border-radius: 3px;
}

.project-img-box p {
  font-size: 24px;
  line-height: 25px;
  color: #001e4c;
  padding-top: 14px;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}


/* footer  */

.footer {
  background-color: #001E4C;
  height: 144px;
  padding: 50px 50px 0px 50px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}