* {
  margin: 0px;
  padding: 0px;
}

/***********************************/
/******   Index Page Style ******/
/***********************************/
.container-fluid {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.whastapp-fixed-img img {
  position: fixed;
  right: 0px;
  top: 287px;
  opacity: 0.7;
  height: 36px;
  transition: all 300ms;
}

.whastapp-fixed-img img:hover {
  opacity: 1;
}

.main-header {
  background-color: #fff;
}


.nav-parent a p {
  margin-bottom: 0px;
  font-size: 20px;
  color: black;
  font-family: 'Merriweather', serif;
}

.nav-parent a {
  text-decoration: none;
  color: black;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.navigation ul li {
  padding-right: 24px;
}

/* homeheader  */

.backHeader {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: contain;
  font-weight: 600;
  font-family: 'Merriweather', serif;
}

.formClass {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 118px;
  bottom: 16px;
  min-height: 55px;
  background-color: white;
  min-width: 79%;
  padding: 24px 0px;
  border: 1px solid gray;
  border-radius: 22px;
  box-shadow: 7px 14px 39px -4px rgba(87, 87, 87, 0.79);
}

.form-control {
  font-family: 'Roboto', sans-serif;
  min-height: 60px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  min-height: 60px;
  background-color: #bb0a0a;
  color: #fff;
}

/* main-container  */

.main-container {
  margin-bottom: 16px;
  box-shadow: 5px 9px 14px -6px rgb(111 104 106 / 19%);
  padding: 15px;
}

.main-container-content {
  padding-left: 30px;
  padding-top: 50px;
}

.img-thumbnail {
  height: 224px;
}

.box-center-image {
  position: relative;
  top: 120px;
  height: 81px;
  width: 18%;
}

.main-container-content .heading {
  padding-bottom: 20px;
  font-size: 32px;
  color: #051f49;
  font-weight: 800;
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

.main-container-content .paragraph {
  font-size: 13px;
  color: #000000;
  text-align: justify;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  margin: 16px 0px;
}

.aboutList li {
  padding-bottom: 10px;
}

.aboutList li span {
  font-weight: 500;
  font-size: 14px;
  color: gray;
}

.exploreBtn {
  padding: 10px 20px;
  outline: none;
  border: 1px solid rgb(255, 166, 0);
  background-color: rgb(255, 166, 0);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  transition: all 460ms;
}

.exploreBtn:hover {
  transform: translateY(-3px);
}

/* global image container */

.services-container {
  background-image: url("../images/bg-map-1.png");
  background-size: contain;
  padding: 80px 0px;
}

.services-container .services-heading {
  color: rgb(12, 12, 92);
  font-family: 'Poppins', sans-serif;
}

.box-1 {
  min-height: 291px;
  background-color: #fff;
  padding: 28px;
  text-align: justify;
  border-radius: 2px;
  min-width: 102%;
  border: 1px solid black;
  opacity: 1;
}

.box-1 .icon-logo {
  height: 75px;
  border-radius: 50%;
  padding: 5px;
}

.box-1 .arrow-icon {
  transition: all 490ms;
  cursor: pointer;
  padding-right: 10px;
  height: 30px;
  border-radius: 5%;
}

.box-1 .arrow-icon:hover {
  cursor: pointer;
  transform: translateX(3px);
}

.box-1 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 23px;
  color: #000;
}

.box-1 span {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #000;
  padding-bottom: 8px;
  text-align: justify;
  font-size: 15px;
}

/* Projects  */
.projects-container {
  padding: 90px 0px 50px 0px;
  background-image: url("../images/proje-bg.png");
  background-size: contain;
  margin-top: 26px;
  opacity: 1;
}

.projects-heading {
  color: rgb(12, 12, 92);
  font-family: 'Roboto', sans-serif;
}

.project-img-box img {
  height: 250px;
  width: 100%;
  border-radius: 3px;
}

.project-img-box p {
  font-size: 18px;
  line-height: 25px;
  color: #001e4c;
  padding-top: 14px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}


/* footer  */

.footer {
  background-color: #001E4C;
  height: 144px;
  padding: 50px 50px 0px 50px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.backColor {
  background-color: #fff;
}

.social-div {
  margin-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding: 21px;
  height: 20px;
  width: 0%;
  border-radius: 50%;
  cursor: pointer;
}

.social-div img {
  height: 25px;
}


/***********************************/
/******   Gallary Page Style  ******/
/***********************************/

.gallary-container {
  /* height: 10000px; */
  background-color: #F4F5F6;
  margin-top: 20px;
}

.gallary-container p {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  color: rgb(50, 32, 32);
  font-size: rgb(0, 0, 0)17px;
}



.box-galle {
  background-color: #fff;
  height: 414;
}

.box-galle img {
  height: 414px;
  width: 100%;
  transition: all 240ms;
}


.box-galle img:hover {
  /* transform: scale(1.1); */
  transform: translateY(-10px);
}


/***********************************/
/******   About Us Page Style ******/
/***********************************/

.top-vector-team {
  display: flex;
  background-image: url("../images/about-vector-1.png");
  height: 300px;
  width: 100%;
  background-size: contain;
  background-position-x: 331px;
  background-color: #001E4C;
  /* justify-content: end; */
  align-items: center;
}

.top-vector-team img {
  height: 200px;
  position: absolute;
  right: 129px;
  bottom: 241px;
}

.about-box img {
  height: 400px;
  width: 100%;
}

.about-box-content p {
  font-size: 48px;
  color: #051f49;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.about-box-content span {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.about-img-box {
  background-image: url("../images/about-bg.png");
  width: 100%;
  background-color: #132544;
  background-size: contain;

}

.about-boxes-content {
  padding: 25px;
  height: 366px;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  text-align: justify;
}

.about-boxes-content img {
  height: 70px;
  border-radius: 3px;
}

.about-boxes-content p {
  text-align: center;
  font-size: 18px;
  color: #001e4c;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.about-boxes-content span {
  font-size: 13px;
  color: #001e4c;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}




/***********************************/
/******   Services Page Style ******/
/***********************************/

.top-vector-team p {
  color: #fff;
  padding-left: 90px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.service-box {
  background-color: rgb(30, 27, 81);
  height: 250px;
  width: 85%;
}

.service-content p {
  font-size: 32px;
  color: #051f49;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.service-content span {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.highlight {
  background-color: #e9e9e9;
}
