* {
  margin: 0px;
  padding: 0px;
}

/***********************************/
/******   Index Page Style ******/
/***********************************/
.container-fluid {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.whastapp-fixed-img img {
  position: fixed;
  right: 0px;
  top: 287px;
  opacity: 0.7;
  height: 36px;
  transition: all 300ms;
}

.whastapp-fixed-img img:hover {
  opacity: 1;
}

#click {
  display: none;
}


/*** Top Navigation Style ***/

.nav-logo-sec a p {
  margin-bottom: 0px;
  font-size: 20px;
  color: black;
  font-family: 'Merriweather', serif;
}

.nav-logo-sec a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

nav ul li {
  padding-right: 24px;
}

.menu-btn {
  display: none;
}

@media only screen and (max-width: 552px) {

  .nav-logo-sec a p {
    font-size: 15px;
  }

  nav ul {
    display: none;
    position: fixed;
    height: 100vh;
    right: 0px;
    top: 60px;
  }
}

/* some fixed bars  */

@media only screen and (max-width:992px) {

  #click {
    display: block;
  }

  .menu-btn {
    display: block;
    padding-right: 50px;
  }

  #click:checked~ul {
    display: block;
  }

  #click:checked~label img ::after {
    content: url("../images/x.svg");
    height: 38px;
  }

  nav ul {
    background-color: #001E4C;
    display: none;
    position: fixed;
    height: 100vh;
    top: 112px;
    right: 0px;
  }

  nav ul li {
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 55px;
  }

  nav ul li a {
    color: #fff;
  }

  nav ul li span {
    display: none;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.callUs {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 991px) {
  .main-container {
    padding: 30px 30px;
  }

  .main-container-content {
    text-align: center;
  }

  .contact-heading {
    text-align: center;
  }
}

/* Form section from index-page   */

.backHeader {
  background-image: url("../images/common/header.jpg");
  background-repeat: no-repeat;
  min-height: 83vh;
  min-width: 100%;
  background-size: contain;
  font-weight: 600;
  font-family: 'Merriweather', serif;
  display: flex;
  align-items: flex-end;
  margin-bottom: 100px;
}

.formClass {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  min-width: 70%;
  padding: 24px 10px;
  border: 1px solid gray;
  border-radius: 22px;
  box-shadow: 7px 14px 39px -4px rgb(87 87 87 / 79%);
}

.form-control {
  font-family: 'Roboto', sans-serif;
  min-height: 60px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  min-height: 60px;
  background-color: #bb0a0a;
  color: #fff;
  width: 100%;
}

/* main-container from index-page  */
.main-container {
  margin-bottom: 16px;
  box-shadow: 5px 9px 14px -6px rgb(111 104 106 / 19%);
}

.main-container-content {
  padding-left: 30px;
  padding-top: 50px;
}

.img-thumbnail {
  min-height: 225px;
  min-width: 100%;
}

.box-center-image {
  position: relative;
  top: 120px;
  height: 81px;
  width: 18%;
}

.main-container-content .heading {
  padding-bottom: 20px;
  font-size: 32px;
  color: #051f49;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.main-container-content .paragraph {
  font-size: 13px;
  color: #000000;
  text-align: justify;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  margin: 16px 0px;
}

.aboutList li {
  padding-bottom: 10px;
}

.aboutList li span {
  font-weight: 500;
  font-size: 14px;
  color: gray;
}

.exploreBtn {
  padding: 10px 20px;
  outline: none;
  border: 1px solid rgb(255, 166, 0);
  background-color: rgb(255, 166, 0);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  transition: all 460ms;
}

.exploreBtn:hover {
  transform: translateY(-3px);
}

/* Services Section from index-page */

.services-container {
  background-image: url("../images/common/bg-map-1.png");
  background-size: contain;
  padding: 80px 0px;
}

.services-container .services-heading {
  color: rgb(12, 12, 92);
  font-family: 'Poppins', sans-serif;
}

.box-1 {
  min-height: 64vh;
  background-color: #fff;
  padding: 28px;
  text-align: justify;
  border-radius: 2px;
  min-width: 102%;
  border: 1px solid black;
  opacity: 1;
  transition: all 0.3s ease;
}

.col-lg-4 {
  margin-bottom: 20px;
}

.box-1:hover {
  background-color: #dddddd;
  cursor: pointer;
  transform: translateY(-2px);
}

.box-1 .icon-logo {
  height: 75px;
  border-radius: 50%;
  padding: 5px;
}

.box-1 .arrow-icon {
  transition: all 490ms;
  cursor: pointer;
  padding-right: 10px;
  height: 30px;
  border-radius: 5%;
}

.box-1 .arrow-icon:hover {
  cursor: pointer;
  transform: translateX(3px);
}

.box-1 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 23px;
  color: #000;
}

.box-1 span {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #000;
  padding-bottom: 8px;
  text-align: justify;
  font-size: 15px;
}

/* Projects Section from index-page  */
.projects-container {
  padding: 90px 0px 50px 0px;
  background-image: url("../images/common/proje-bg.png");
  background-size: contain;
}

.projects-heading {
  color: rgb(12, 12, 92);
  font-family: 'Roboto', sans-serif;
}

.project-img-box img {
  height: 250px;
  width: 100%;
  border-radius: 3px;
}

.project-img-box p {
  font-size: 18px;
  line-height: 25px;
  color: #001e4c;
  padding-top: 14px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/***********************************/
/******   Footer of all Pages ******/
/***********************************/

@media only screen and (max-width: 901px) {
  .callUs {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .nav-parent img {
    height: 50px;
  }

  .nav-parent a p {
    font-size: 12px;
  }

  .social-footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-footer .social-div {
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 18px;
    height: 20px;
    width: 0%;
    border-radius: 50%;
    cursor: pointer;
  }


  .box-contact-ui {
    min-width: 20%;
  }

}

.col-sm-12 {
  background-color: rgb(117, 117, 117);
}

.footer {
  background-color: #001E4C;
  height: 196px;
  padding: 50px 50px 0px 50px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.backColor {
  background-color: #fff;
}

.social-div {
  margin-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding: 21px;
  height: 20px;
  width: 0%;
  border-radius: 50%;
  cursor: pointer;
}

.social-div img {
  height: 25px;
}

.social-footer {
  display: flex;
  justify-content: end;
}

.footer-terms h6 {
  font-family: 'Poppins', sans-serif;
  color: #9d9d9d;
}

.footer-terms h6 a {
  color: #9d9d9d;
  text-decoration: none;
}

.footer-terms h6 a:hover {
  color: #fff;
}


/***********************************/
/******   Project Page Style  ******/
/***********************************/

.gallary-container {
  background-color: #F4F5F6;
  margin-top: 20px;
}

.gallary-container p {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  color: rgb(50, 32, 32);
  font-size: rgb(0, 0, 0)17px;
}

.box-galle {
  background-color: #fff;
  height: 414;
}

.box-galle img {
  height: 414px;
  width: 100%;
  transition: all 240ms;
}


.box-galle img:hover {
  transform: translateY(-10px);
}

.project-list-sec {
  list-style-type: square;
  padding-top: 20px;
}


.project-list-sec li {
  padding-bottom: 7px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

/***********************************/
/******   About Us Page Style ******/
/***********************************/

.top-vector-team-about {
  background-image: url("../images/about-vector-1.png");
  background-size: contain;
  background-color: #001E4C;
  min-height: 300px;
}

.top-vector-team-about img {
  height: 200px;
  padding-right: 120px;
}

.top-vector-team-about span {
  color: #fff;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.about-border {
  display: none;
}

.about-box img {
  height: 400px;
  width: 100%;
}

.about-box-content p {
  font-size: 48px;
  color: #051f49;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.about-box-content span {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.about-img-box {
  background-image: url("../images/about/about-bg.png");
  width: 100%;
  background-color: #132544;
  background-size: contain;
}

.about-boxes-content {
  padding: 25px;
  min-height: 370px;
  background-color: #fff;
  border: 1px solid #000;
}

.about-boxes-content img {
  height: 70px;
  border-radius: 3px;
}

.about-boxes-content p {
  text-align: center;
  font-size: 18px;
  color: #001e4c;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.about-boxes-content span {
  font-size: 12px;
  color: #001e4c;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

/***********************************/
/******   Services Page Style ******/
/***********************************/

.top-vector-team-service {
  display: flex;
  background-image: url("../images/about-vector-1.png");
  height: 300px;
  width: 100%;
  background-size: contain;
  background-position-x: 331px;
  background-color: #001E4C;
  align-items: center;
}

.service-content span {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4px;
  text-align: justify;
}

.top-vector-team-service img {
  height: 200px;
  position: absolute;
  right: 129px;
  bottom: 214px;
}

.top-vector-team-service p {
  color: #fff;
  padding-left: 90px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.service-content-bg p {
  font-size: 32px;
  color: #051f49;
  font-weight: 700;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.service-content-bg span {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4px;
}

.service-box img {
  height: 350px;
  width: 85%;
}

.service-content p {
  font-size: 32px;
  color: #051f49;
  font-weight: 700;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.highlight {
  background-color: #e9e9e9;
}


/***********************************/
/******   Contact Page Style ******/
/***********************************/
.contact-heading {
  font-size: 22px;
  color: #04204c;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.box-contact-ui {
  background-color: #05214E;
  background-image: url("../images/contact/contact-bg-img.png");
  background-size: contain;
  height: 140px;
  min-width: 10%;
  padding: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-contact-ui img {
  height: 40px;
}

.box-contact-ui p {
  font-size: 24px;
  color: #ffbc13;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.box-contact-ui span {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.box-contact-in {
  padding: 0px 30px;
}

.box-contact-ui span {
  font-family: 'Poppins', sans-serif;
}

.contact-section {
  /* background-color: gray; */
  opacity: 0.8;
  height: auto;
  width: 100%;
  padding: 50px;
}

.contact-section p {
  font-size: 20px;
  color: #04204c;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.contact-section input {
  width: 100%;
  outline: none;
  border: none;
  padding: 7px 15px;
  background-color: gainsboro;
}

.message-sec {
  height: 190px;
}

.messageBtn {
  font-size: 17px;
  padding: 8px 12px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  background-color: orange;
  border: none;
  cursor: pointer;
  transition: all 450ms ease;
}

.messageBtn:hover {
  transform: translateY(-4px);
}

/***********************************/
/****** ALL PAGES MEDIA QUERIES ****/
/***********************************/
@media only screen and (max-width:768px) {

  .top-vector-team-about span {
    display: none;
  }

  .vector-cen {
    display: flex;
    justify-content: center;
  }

  .vector-cen img {
    padding-right: 50px;
  }

  .about-border {
    border: 1px solid gray;
    display: block;
  }

  .top-vector-team-about {
    background-image: url("../images/about-vector-1.png");
    background-size: contain;
    background-color: #001E4C;
    min-height: 200px;
  }

  .top-vector-team-about img {
    height: 150px;
  }

  /* services css  */
  .service-box img {
    height: 350px;
    width: 100%;
    margin-top: 20px;
  }

  .service-content p {
    font-size: 22px;
  }

  .service-content-bg p {
    font-size: 28px;
  }


  .service-content span {
    text-align: justify;
  }

  /* services css end */

  /* Contact Page start*/

  .contact-heading {
    font-size: 19px;
    margin-bottom: 40px;
  }

  /* footer css */
  .footer-terms h6 {
    font-size: 12px;
  }
}

@media only screen and (max-width:991px) {
  .box-1 {
    min-height: 64vh;
  }
}